.head-sidedash{
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1em solid black;
    width:100%;
}
.first-sidedash{
    width:100%;
}



.extended-first-div-divdash{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    padding: 2em;

}
.first-first-div-divdash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.extended-first-div-h1-divdash{
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
}

.extended-first-div-p-divdash{
    font-size: 0.9em;
    color: gray;
    margin-bottom: 4em;
    text-align: center;
}
.nothing-div-divdash{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extended-first-div-div-divdash{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    width: 80%;
    border-bottom: 0.02em solid black;
 
}

.extended-first-div-div-divdash:hover{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    color: white;
    background-color: #292482;
    align-items: center;
}

.extended-first-div-div-div-divdash{
   width: 100%;
   align-items: center;
   justify-content: center;
}

.extended-first-div-div-h1-divdash{
    font-size: 0.9em;
    font-weight:bold;
}

.extended-first-div-div-p-divdash{
    font-size: 0.75em;
    margin-top: 0.3em;
}

@media(max-width:1170px){
.extended-first-div-div-div-divdash{
    width: 100%;
}
.extended-first-div-divdash{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    padding: 2em;

}
} 